$main-color: #111827;
$purple: #8b5cf6;
$purple-light: #a78bfa;
$purple-dark: #513e8b;
$white: #f9fafb;
@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular.ttf");
}

$font: "Formular", sans-serif;
