@import "src/assets/css/variables";
@import "src/assets/css/mixins";

.footer {
  padding: 40px 0;
  background: $main-color;
  color: $white;

  &__container {
    padding: 40px 0;
  }

  &__top {
    @include flex-center-space-between;
    margin-bottom: 24px;
    @include media-query(1024px) {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 16px;
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 5px;
      @include media-query(1024px) {
        grid-column: 4 span;
        margin-right: 0;
      }
      @include media-query(758px) {
        grid-column: 8 span;
        grid-row: 3/1 span;
        align-items: center;
        justify-content: center;
      }

      &-title {
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        cursor: pointer;
        transition: 0.2s linear;
        @include media-query(590px) {
          font-size: 20px;
        }

        &:hover {
          color: $purple-light;
        }
      }
    }

    &-phone {
      @include media-query(1024px) {
        grid-column: 4 span;
        margin-right: 0;
      }
      @include media-query(758px) {
        grid-column: 8 span;
        grid-row: 2/1 span;
        text-align: center;
      }

      &-number {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        @include media-query(1536px) {
          font-size: 30px;
        }
      }

      &-desc {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        @include media-query(1536px) {
          font-size: 20px;
        }
      }
    }
  }

  &__items {
    @include flex-center-space-between;
    flex-wrap: wrap;
    gap: 24px;
    @include media-query(1024px) {
      margin-bottom: 40px;
    }
  }

  &__item {
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    transition: 0.1s linear;

    &:hover {
      color: $purple-light;
    }
  }

  &__bottom {
    @include flex-center-space-between;
    font-size: 12px;
    color: #4b5563;
    line-height: 16px;
    font-weight: 300;
    @include media-query(1024px) {
      flex-direction: column;
    }

    &-desc {
      max-width: 70%;
      @include media-query(1024px) {
        //.
        max-width: 100%;
        text-align: center;
      }
    }

    &-author {
      display: flex;
      flex-direction: column;
      transition: 0.2s all;
      cursor: pointer;
      @include media-query(1024px) {
        margin-top: 10px;
        grid-column: 8 span;
        justify-content: center;
        flex-direction: row;
      }
      @include media-query(590px) {
        flex-direction: column;
      }

      &:hover {
        color: $white;
      }
    }
  }

  &__top-nav {
    grid-column: 8 span;
    grid-row: 1/1 span;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
